.cos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .cos-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .section-container {
    max-width: 900px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-bottom: 25vh;
  }
  
  .section-container h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }

  .section-container ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .section-container li {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  ol {
    list-style-type: decimal;
    margin-left: 20px;
  }

  .cos-line {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }