.petition-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .petitionCard-container {
    width: 400px;
    height: 350px;
    display: "flex";
    justify-content: "center";
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;    
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 11vh;
    margin-bottom: 11vh;
  }
  
  .petition-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section-container {
    width: 450px; /* Adjust the width as needed */
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  .section-container h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }

  .section-container ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .section-container li {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  ol {
    list-style-type: decimal;
    margin-left: 20px;
  }

  .petition-line {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }